.navbar-nav {
    float: left;
    margin: 0;
    padding-left: 60px;
}
.content
{
    background-color: #333333;    
}
.navbar 
{
    margin-bottom: 0px;
}
.page_content
{
    padding-left: 70px;
    padding-right: 70px;
}
.page-header h3 {
    margin: 0;
    padding: 4px 0;
    color: #fff !important;
    font-size: 32px !important;
}
.table {
    border-top: 1px solid #222222 !important;
    border-bottom: 1px solid #ddd;
}
.table-striped > tbody > tr > td 
{   
    padding: 23px 0px;
}
.table-striped > thead > tr > th 
{   
    padding: 15px 0px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #222222 !important;
}
.table-striped > tbody > tr >td{
    color:#fff !important;
    text-transform: capitalize;
}
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: transparent !important;
}
table.dataTable thead .sorting:after {
    opacity: 0.5 !important;
    content: "\e150";
    color: #fff !important;
}
.table span.team-member {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent !important;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.header .top_nav_2, .header .top_nav {
    margin: 22px 66px 19px !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 225px; 
    left:auto !important;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #616161;
    background-color: transparent;
    border-bottom-color: #2196f3 !important;
}
.logo_text
{
    color:#111111 !important;
    font-weight: bold !important;
    font-size: 17px;    
    padding-top: 10px;
}
.icon 
{
    display: none !important;
}
.table-striped > tbody > tr >td:nth-child(1):before
{
    content:'\f007';
    font-family: 'FONTAWESOME';
    position: absolute;
    left: 25px;     
}
.head_logo
{
    padding-left: 28px;
}
/*Team*/
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    height: 100%;
}
.team-members
{
    margin-bottom: 25px;
}
.team-members .thumbnail {
    border-radius: 0;
    border: none;
    padding: 20px 0;
    text-align: center;
    border-bottom: 4px solid #2196F3;
}
/*Performance*/
.panel-default > .panel-heading {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
}
.panel-default {
    border-color: transparent;
}
.panel {
    margin-bottom: 22px;
    background-color: #333333;
    border: 1px solid #333333;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
table.dataTable tbody tr {
    background-color: #222222 !important;
}
.title
{
    color:#fff;
}
.performance_form
{
    margin-bottom: 30px;
}
.page-header h3 svg#file-icon, .page-header h3 svg#team-icon, .page-header h3 svg#list-icon, .page-header h3 svg#user-icon {
    fill: #fff;
    margin-top: 5px;
    float: left;
    margin-right: 12px;
}
.performance_form .form-control {
    height: 39px;
    line-height: 10px;
    border-radius: 6px;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none !important;
}
.performance_form .btn
{
    margin-top: 30px;
}
.table > thead > tr > th {
    border-bottom-width: 1px !important;
    font-size: 12px;
    font-weight: bold;
    color: #9E9E9E;
    text-transform: uppercase;
}
.table > tbody > tr > th, .table > tbody > tr > td {
    font-size: 14px;
    color: #fff;
    border: none;
}
/*Work Sheet*/
.worksheet_content
{
    margin: 15px 0px 25px;
}
.page-header{
    padding: 15px 15px;
}
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    height: 100%;
}
.worksheets .thumbnail {
    min-height: 100%;
    margin: 0;
    padding: 40px 0 0;
    background: #fff;
}
.list-unstyled
{
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px 0px 0px;
}
.list-unstyled li
{
    text-align: center;
    padding-top:5px; 
}
.list-unstyled .btn
{
    border-radius: 0px;
}
.worksheets .thumbnail
{
    border-radius: 0px !important;
}  
#optionModal .modal-body .thumbnail .caption a {
    display: block;
    width: 100%;
    padding: 16px 0;
    margin-top: 45px;
    border-top: 1px solid #E0E0E0;
    color: #2196f3;
    font-weight: bold;
}
.list-inline {
    padding-left: 0;
    /* list-style: none; */
    margin-left: 0px;
    text-align: center;
}
.unitlist-header
{
    color:#fff !important;
    text-align: center;
}
#optionModal .modal-dialog {
    margin-top: 10% !important;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
}
.customer-form
{
    width:950px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;    
}
.customer-form_btn
{
    margin-bottom: 25px;
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: auto;
}