
// Body
$body-bg: #F5F5F5;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
// $font-family-sans-serif: "Raleway", sans-serif;
$font-family-sans-serif: 'Noto Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


// PS Styles
$blue: #2196F3;
$green: #4CAF50;
$purple: #673AB7;
$orange: #F44336;
$light-gray: #E0E0E0;
$gray: #9E9E9E;
$dark-gray: #616161;

$stripcolor1: $orange;
$stripcolor2: $purple;
$stripcolor3: #03A9F4;

// header variables
$header-bg: #fff;
$header-border-color: #d3e0e9;

// Navbar
$navbar-bg: #FAFAFA;
$navbar-border-color: $light-gray;
$nav-text-color: $gray;
$nav-text-color-hover: $dark-gray;
$nav-font-size:14px;

// top section highlighted thumbs
$box-bg: #fff;
$box-border-color: #d3e0e9;

// Link Color
$link-color: $gray;
$link-color-hover: $dark-gray;

// Media query
$media-xxs: "(max-width : 479px)";
$media-xs: "(max-width : 767px)";
$media-sm: "(min-width : 768px) and (max-width : 991px)";
$media-md: "(min-width : 992px) and (max-width : 1199px)";
$media-lg: "(min-width : 1200px)";


// table
$th-font-size: 10px;
$th-color: $gray;
$td-font-size: 14px;
$td-color: $dark-gray;
$table-cell-padding: 12px;

$td-status-red: #FF5722;
$td-status-yellow: #FFC107;
$td-status-default: #616161;
$td-status-green: #4CAF50;

// footer
$min-heihgt: 215px;