
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

//@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.selects{
	margin-top:20px;
	span{
		padding:3px 20px;
		font-weight:bold;
	}
}

/* Custom css */
@import "modules/common";
@import "modules/header";
@import "modules/footer";
@import "modules/dashboard";
@import "modules/proposals";
@import "modules/furnace";
@import "modules/edit_furnace";
@import "modules/modals";
@import "modules/tables";
@import "modules/forms";
@import "modules/worksheets";
@import "modules/team";
@import "modules/datatables";
@import "modules/charts";
@import "../css/custom";