.nav-tabs {
  border-bottom: none;
  text-align: center;
  padding: 20px 0;
  > li {
    float: none;
    display: inline-block;
    // Make the list-items overlay the bottom border
    margin-bottom: 0;

    // Actual tabs (as links)
    > a {
      margin-right: 0;
      border: none;
      border-radius: 0;
      font-weight: 700;
      color: $blue;
      &:hover {
        border-color: none;
        background-color: transparent;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $gray;
        background-color: transparent;
        border: none;
      }
    }
  }
}
.tab-pane {
    h3.title {
        text-align: center;
        margin: 40px 0 30px;
    }
    .stats {
        text-align: center;
        font-size: 16px;
        h3 {
            font-size: 42px;
        }
    }
}
.chartYearControls {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
        float: left;
        line-height: 26px;
        height: 26px;
        min-width: 26px;
        overflow: hidden !important;
        position: relative;
        margin-right: 8px;

        span {
            height: 26px;
            width: 26px;
            font-size: 16px;
        }    
        .btn-default {
            font-size: 36px;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 39px;
            position: absolute;
            top: -12px;
            margin-left: -6px;
        }
    }
}
#barChartLegend, #barChartLegendd, #barChartLegends,
#lineChartLegend,
#pieChartLegend {
    text-align: right;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin-left: 12px;
            span {
                width: 15px;
                height: 15px;
                float: left;
                border-radius: 50%;
                margin-top: 3px;
                margin-right: 4px;
            }
        }
    }
}
#pieChartLegend {
    text-align: left !important;
    li {
        display: block !important;
        margin-left: 0 !important;
    }
}
