a {
	color: $link-color;
	text-decoration: none !important;
	&:hover,
	&:focus {
		color: $link-color-hover;
		outline: none;
	}
}
hr {
    border-color: #E0E0E0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  
}
.strip {
	width:100%;
	height:8px;
	@include gradient-horizontal-three-colors($stripcolor1, $stripcolor2, 50%, $stripcolor3);
}

.btn-primary {
	@include button-variant(#fff, $blue, transparent);
	font-weight: 700;
}
.btn:focus, 
.btn.focus, 
.btn:active:focus, 
.btn:active.focus, 
.btn.active:focus, 
.btn.active.focus {
	outline:none;
}
.bg-primary {
	@include bg-variant($blue, #fff);
}
.container {
	@media #{$media-lg} {
		width: 970px;
	}
	@media #{$media-md} {
		width: 970px;
	}
}
.btn {
	border-radius: 6px;
}

.page-header {
	@include clearfix();
	padding: 0;
	margin: 15px 0 35px;
	border: none;
	h3 {
		// float: left;
		margin: 0;
		padding: 4px 0;
		svg#file-icon,
		svg#team-icon,
		svg#list-icon,
		svg#user-icon {
			fill:$blue;
			margin-top: 5px;
			float: left;
			margin-right: 12px;
		}
		svg#file-icon {
			width: 16px;
			height: 16px;
		}
		svg#team-icon {
			width: 20px;
			height: 20px;
		}
		svg#list-icon {
			width: 22px;
			height: 22px;
		}
		svg#user-icon {
			width: 18px;
			height: 18px;
		}
	}

	.form-search{
		.form-group {
			margin-bottom: 0;
			position: relative;
			&::after {
				content:"";
				background: url(../img/search-icon.svg) center center no-repeat;
				width: 20px;
				height: 20px;
				position: absolute;
				top: 8px;
				right: 8px;
			}
			&.no-icon {
				&::after {
					display: none;
				}
			}
		}
		.form-control {
			line-height: 1.1 !important;
			padding-top: 0;
			padding-bottom: 0;
			padding-right: 32px;
			height: 38px;
		}
		.input-group {
			.form-control {
				border-right:none;
				padding-right: 12px;
			}			
		}
		.input-group-btn .btn {
		    padding-top: 0;
		    padding-bottom: 0;
		    line-height: 36px;
		    border-left: none;
		}
	}
}
@media #{$media-xs} {
	.page-header {
		text-align: center;
		h3 {
			display: inline-block;
			margin-bottom: 20px;
		}
		.btn.pull-right {
			float: none !important;
			margin-bottom: 20px;
		}
	}
}


.login,
.register,
.reset-password {
	.panel-body {
		padding-top: 30px;
		label {
			font-size: 10px;
			font-weight: bold;
			text-transform: uppercase;
			color: $gray;
		}
	}
}
.rw-hide{
	display:none;
}
.rw-icon{
	height:20px;
	width:20px;
	fill:$blue;
	margin-top: 5px;
	float: left;
	margin-right: 12px;	
}
.inactive-input{ // wrapper
	input{
		background-color: $light-gray;
		pointer-events:none;
	}

}
.no-padding{
	padding-left:0 !important;
}
.status.success, .ttip{
	display:none;
}
.mb0 {
	margin-bottom: 0;
}
.mtb30 {
	margin-top:30px;
	margin-bottom:30px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb20 {
	margin-bottom: 20px;
}
.pdlr0 {
	padding-left:0;
	padding-right: 0;
}
.pdlr60 {
	padding-left:60px;
	padding-right: 60px;
}