.no-padding-left {
	padding-left: 0;
	.box {
		border-radius: 0 4px 4px 0;
	}
}
.no-padding-right {
	padding-right: 0;
	.box {
		border-radius: 4px 0 0 4px;
		border-right-width:0;
	}
}
.box {
	background:$box-bg;
	border-radius:4px;
	border:1px solid $box-border-color;
	text-align: center;
	height:260px;
	width:100%;
	display:table;
	position: relative;
	a {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}
	.info {
		display:table-cell;
		vertical-align: middle;
	}

	span {
		display:block;
		width: 100px;
		height: 100px;
		margin: 0 auto 20px;
		border-radius:50%;
		border:2px solid $box-border-color;
		line-height: 95px;
		font-size: 44px;
		font-weight: 400;
	}

	p {
		margin: 0;
		font-weight: 700;
		font-size: 14px;
	}

	&.green {
		color: $green;
		span {
			border-color: $green;
			color: $green;
		}
	}
	&.blue {
		color: $blue;
		span {
			border-color: $blue;
			color: $blue;
		}
		&.icon {
			span {
				line-height: 100px;
				background: $blue;
			}
		}
	}
}

.title {
	@include clearfix();
	margin-bottom: 25px;
	h3 {
		float: left;
		font-weight: 700;
		margin: 0;
		padding: 4px 0 0;
	}
	.btn {
		float: right;
	}
}
@media #{$media-xs} {
	.no-padding-left {
		padding-left: 15px;
		.box {
			border-radius: 4px;
		}
	}
	.no-padding-right {
		padding-right: 15px;
		.box {
			border-radius: 4px;
			border-right-width: 1px;
		}
	}
	.box {
		margin-bottom: 20px
	}
}