.dataTables_wrapper {
	.row:first-child {
		display: none;
	}
}
.dataTables_filter .form-control {
	padding: 0 10px;
	height: 36px;
	line-height: 36px;
}
.dataTables_length select.form-control {
	background-position: right 8px center !important;
	height: 36px;
	line-height: 36px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: -2px;
}
.dataTables_paginate .paginate_button:hover,
.dataTables_paginate .paginate_button:active {
	background: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
}
table.dataTable thead .sorting::after, 
table.dataTable thead .sorting_asc::after, 
table.dataTable thead .sorting_desc::after, 
table.dataTable thead .sorting_asc_disabled::after, 
table.dataTable thead .sorting_desc_disabled::after {
	font-size: 14px;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, 
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    top: 16px;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 10px;
    color: $gray;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
table.dataTable.no-footer {
    border-bottom-color: $light-gray;
}

// Make column responsive on long text
table.dataTable.dtr-inline.collapsed > tbody > tr > td{
	max-width:200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


#DT_Coils_wrapper.dataTables_wrapper .row:first-child,
#DT_Condencers_wrapper.dataTables_wrapper .row:first-child,
#DT_thermostat_wrapper.dataTables_wrapper .row:first-child,
#DT_furnace_wrapper.dataTables_wrapper .row:first-child,
#DT_packages_wrapper.dataTables_wrapper .row:first-child,
#leadgen_wrapper.dataTables_wrapper .row:first-child,
#leadsource_wrapper.dataTables_wrapper .row:first-child
{
	display:block !important;
}

// ,
// 
// 
// #DT_Condencers.dataTables_wrapper .row:first-child,
// #DT_Condencers.dataTables_wrapper .row:first-child 