// worksheet edit form
#add_section {
	padding-left: 30px;
	color: $blue;
	font-weight: 700;
	span {
		margin-left: -30px;
		background: #2196F3;
		width: 22px;
		height: 22px;
		color: #fff;
		font-size: 18px;
		display: inline-block;
		border-radius: 50%;
		position: absolute;
		line-height: 1.1;
	}
}

.plr0 {
	padding-left:0;
	padding-right:0;
}

.list-inline-checkbox {
	list-style-type:none;
	margin: 0;
	padding: 0;
	> li {
	    display: inline-block;
	    min-width: 35%;
	    .checkbox {
	    	margin: 0;
	    	input[type="checkbox"] {
	    		margin-top: 2px;
	    	}
	    }
	}
}
.fixed-message.fade-message{
	opacity: 0;
}
.fixed-message{
	display:none;
	background-color: #FF8F86;
	height: 60px;
	width:100%;
	padding:20px;
	text-align:center;
	color:black;
	position:fixed;
	top:0px;
	z-index:99999999;
	opacity: 1;
	-webkit-transition: opacity 5s ease-in-out;
	-moz-transition: opacity 5s ease-in-out;
	-ms-transition: opacity 5s ease-in-out;
	-o-transition: opacity 5s ease-in-out;
}
ul#sections{
	h5{
		width:100%;
		.input-hidden-title{
			float:right;
			padding-right:30px;
		}
	}

	padding-left:0;
	list-style-type:none;
	> li{
		padding:15px 0 40px;
		margin-bottom:10px;
		border-bottom:1px solid $light-gray;
		border-radius:0;
		&.ui-state-default{
			div.move_icon{
				cursor:move;
				width:100px;
				height:20px;
				background-color:$light-gray;
			}
			// &::before {
			// 	visibility:hidden;
			// 	content:" ";
			//     background:url('/img/drag.svg');
			// 	background-size: 20px;
			// 	background-size:contain;
			//  	width: 20px;
			//     height: 20px;
			// 	position:relative;
			// 	text-align:right;
			// 	float:right;
			// 	top:-4px;
			// 	right:-45px;
			// 	display:inline-block;
			// }
			.icon-drag {
				width: 24px;
				height: 18px;
				margin-top: 35px;
				@media #{$media-sm} {
					margin-top: 0;
				}@media #{$media-xs} {
					margin-top: 0;
				}
				span {
					float: left;
				    width: 6px;
				    height: 6px;
				    margin: 2px 2px 0 0;
				    background: $light-gray;
				    border-radius: 20px;
				}
			}
			.collapse_dropdown,
			.collapse_section {
				display: inline-block;
				color: $light-gray;
				width: 100%;
				height: 20px;
				line-height: 0.5;
				text-align: center;
				margin-top: 35px;
				@media #{$media-sm} {
					margin-top: 0;
				}
				@media #{$media-xs} {
					margin-top: 0;
				}
				span.ico {
					font-size: 30px;
					display: block;
					height: 20px;
					&.plus {
						color: $blue;
					}
				}
			}
			.dropdown-wrapper, .blank-wrapper {
				.icon-drag {
					margin-top: 10px;
				}
				.collapse_dropdown {
					margin-top: 10px;
				}
			}
			.groupOptions {
				// display: none;
				// margin-top: 50px;
				.list-inline {
					margin: 15px 0 0;
					padding: 0;
					li {
						float: left;
					}
					&.text-right {
						li {
							float:right;
							a {
								color: $gray;
							}
						}
					}

					.add_dropdown, .add_blank {
						padding-left: 25px;
						span {
							margin-left: -25px;
							color: $blue;
							font-size: 30px;
							position: absolute;
							line-height: .5;
							margin-top: 3px;
						}
					}
	
					.edit_title,
					.add_custom,
					.edit_title,
					.save_title {
						display:none;
					}



				}
			}
		}
		// &.ui-state-default:hover{
		// 	.list-inline{
		// 		visibility:visible;
		// 	}
		// 	&::before {
		// 		visibility:visible;
		// 	}
		// }
		ul.inputs-wrapper {
			padding-left:0;
			list-style-type:none;
			margin-top: 30px;
			.custom-wrapper{
				padding:30px;
				margin:10px 0;
				border:solid 1px $light-gray;
			}
			.dropdown-wrapper, .blank-wrapper{
				.row.bdr {
					border:solid 1px $light-gray;
					padding:20px 0;
					margin-bottom: 10px;
				}
				h6.title {
				    font-size: 14px;
    				font-weight: normal;
    				text-transform: capitalize;
    				color: #9E9E9E;
    				max-width: 100%;
    				margin-bottom: 5px;
				}
				input[type="checkbox"] {
					margin-top: 2px;
				}
				.choices{
					padding:10px 0;
					.choice{
						border-top:solid 1px $light-gray;
					}
				}
				.options{
					margin: 10px 0 20px;
					.form-group{
						display:inline-block;
					}
				}
				.remove_dropdown,
				.remove_choice {
					color: red;
					font-size: 10px;
    				font-weight: bold;
    				text-transform: uppercase;
				}
				.choices{
					.tiered{
						display:none;
					}
					.choice {
						margin-top: 12px;
					}
				}
			}
		}
	}
	.ui-sortable-helper{
		background-color:$blue;
		opacity:0.5;
		.status.success{
			display:none;
		}
	}

	.form-group {
		margin-bottom: 0;
	}
	.row.is-flex {
		border-bottom:none;
	}
}
