.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height:215px;
	visibility: hidden;

	.bg-primary {
		height: 60px;
		line-height: 60px;
		a {
			color: #fff !important;
			text-decoration: none;
			position: relative;
			padding-left: 22px;
			display: inline-block;
			&:hover {
				color: #fff;
			}
			.icon-estimate {
				position: absolute;
			    margin-top: 22px;
			    margin-left: -22px;
			}
		}
	}
	.credits {
		min-height:150px;
		padding: 60px 0;
		p {
			margin: 0;
		}
		#back_to_top {
			position: relative;
			float: right;
			padding-left: 20px;
			.icon-back-to-top {
				position: absolute;
				margin-left: -20px;
				margin-top: 2px;
			}
		}
	}
}

@media #{$media-xs} {
	.footer {
		.credits {
			text-align: center;
			#back_to_top {
				float: none;
				display: inline-block;
				margin-top: 30px;
				text-align: center;
			}	
		}
	}
}