.choice-price{
	::before{
		content: "$";
		font-size:14px;
		position:absolute;
		bottom:14px;
		left:12px;
		color:#9E9E9E;
		font-weight:400;
	}
	input{
		padding-left:22px;
	}
}
.form-control {
	height:50px;
	line-height:50px;
	border-radius:6px;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: none !important;

	

	&:focus {
		border-color: $blue;
		box-shadow: none !important;
	}
}

.form-group.focus,
.input-group.focus {
	.input-group-addon {
		border-color: $blue;
	}
	.input-group-btn .btn {
		border-color: $blue $blue $blue transparent;
	}
}
select.form-control{
	-webkit-appearance: none; 
	-moz-appearance: none; 
	background-color:#ffffff;
	background-image:url(../img/arrow-down.png);
	background-repeat:no-repeat;
	background-position-x: 97%;
	background-position-y: center;
}
select::-ms-expand {
	display: none;
}

// Used in furnace page form
.input-group-mix {
	select {
		border-radius: 6px 6px 0 0;
	}
	.input-group {
		.form-control {
			border-top-color: transparent;
			border-radius: 0;
		}
		.input-group-addon {
			border-top-color: transparent;
			border-radius: 0;
		}
		&.first {
			.input-group-addon {
				border-radius: 0 0 0 6px;
				@media #{$media-xs} {
					border-radius:0;
				}
			}
		}
		&.second {
			.input-group-addon {
				border-radius: 0;
				border-left-color: transparent;
				@media #{$media-xs} {
					border-left-color: #CCD0D2;
				}
			}
			.form-control {
				border-right-color: transparent;
				@media #{$media-xs} {
					border-right-color: #CCD0D2;
				}
			}
		}
		&.last {
			.input-group-addon {
				border-radius: 0;
				@media #{$media-xs} {
					border-radius: 0 0 0 6px;
				}
			}
			.form-control {
				border-radius: 0 0 6px 0;

			}
		}
	}
}
.form-group.focus.first,
.input-group.focus.first {
	.form-control {
		border-top-color: $blue !important;
	}
	.input-group-addon {
		border-color: $blue !important;
	}
}
.form-group.focus.second,
.input-group.focus.second {
	.input-group-addon {
		border-left-color: $blue !important;
		border-top-color: $blue !important;
	}
	.form-control {
		border-top-color: $blue !important;
		border-right-color: $blue !important;
	}
}
.form-group.focus.last,
.input-group.focus.last {
	.form-control {
		border-top-color: $blue !important;
	}
	.input-group-addon {
		border-color: $blue !important;
	}
}
.size_message{
	display:none;
	padding:7px;
	margin-bottom:9px;
	//margin-top:7px;
	background-color:#FF8F86;
	width:100%;
	border-radius:5px;
	//height:30px;
}
