.worksheet {
	.worksheet-nav{
		a{
			cursor:pointer;
		}
		.nav-wrapper{
			overflow:scroll;
		}
		h3{
			margin-bottom:42px;
		}
//		background-color:red;
	}
	.formBuilderSubmit-wrapper{
		position:fixed;
		bottom:50px;
		right:50px;
		width:150px;
		z-index:999999;
		.form-changed{
			background-color:red;
		}
		.form-changes{
			padding:10px;
			width:100%;
			position:relative;
		}
	}

	.panel-heading {
		padding: 30px;
		border-bottom:1px solid $light-gray;
		#home-icon{
			fill: $orange;
			width:30px;
			height: 30px;
			float: left;
			margin-right: 15px;
		}
		h3 {
			float: left;
			font-size: 24px;
			margin: 0;
			padding: 0;
		}
		.btn {
			padding: 0 0 0 25px;
			color: #488FCC;
			font-weight: 700;
			text-decoration: none;
			float: left;
			object.icon {
				position: absolute;
				margin-top: 2px;
				margin-left: -25px;
			}
		}
		a.close {
			font-size: 30px;
			position: relative;
			margin-top: -4px;
			margin-left: 30px;
		}
		
	}
	.panel-body {
		a.delete-repeater{
			font-size:15px;
			margin-bottom:7px;
		}
		.worksheet-message{
			background-color:#FF8F86;
			padding:15px;
		}
		padding-bottom: 30px;
		label {
			font-size: 10px;
			font-weight: bold;
			text-transform: uppercase;
			color: $gray;
		}
		.form-group {
			position: relative;
			margin-bottom: 30px;
			.ttip {
				position: absolute;
				right: -45px;
				top: 0;
				margin-top: 38px;
			}
			span.status {
				position: absolute;
				left: -45px;
				top: 38px;
			}
			.input-group {
				.form-control {
					border-left:none;
				}
				&-addon {
				    background-color: transparent;
				    border-radius: 6px 0 0 6px;
				}
			}
			.tooltip {
				min-width:80px;
			}
			.choice-price{
				display:none;
				margin:0;
				padding:0;
				margin-right:12px;				
			}
			.price-holder{
				height:73.6px;
				width:1px;
			}
			.repeater-group{
				margin-bottom:10px;
			}
			.form-control.total{
				display:inline-block;
			}
			.total-all,.total-platinum,.total-gold,.total-silver,.total-bronze{
				display:none;
			}
			
		}
		.template{
			border-top:solid 1px gray;
			.repeater-group{
				display:none;
			}
		}
	}
	svg#file-icon {
		width: 16px;
		height: 16px;
		fill: #2196F3;
		float: left;
		position: relative;
		margin-top: 16px;
		margin-right: 12px;
	}
	@media #{$media-xxs} {
		.panel-heading {
			padding: 20px 12px;
			text-align: center;
			div.pull-left {
				margin-bottom: 20px;
			}
			div.pull-left,
			div.pull-right {
				float: none !important;
				display: inline-block;
			}
			#home-icon {
				width:26px;
			}
			h3 {
				font-size: 22px;
			}
		}
		.xxs-12 {
			width: 100%;
			&:first-child {
				margin-bottom:20px;
			}
		}
	}

	.col-no-pd {
		padding: 0;
	}
	.col-no-pd-left {
		padding-left: 0;
	}
	.col-no-pd-right {
		padding-right: 0;
	}
	.add-link {
		float: right;
		color: $blue;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bold;
		letter-spacing: 1px;
		margin: 8px 0;
	}
	.btn-submit {
		display: block;
		margin-top: 20px;
		font-weight: bold;
		font-size: 13px;
		padding: 17px 20px;
	}
	.list-inline {
		margin:12px 0;
		display: block;
		text-align: center;
		li {
			display: inline-block;
			span,
			a {
				font-size: 10px;
				font-weight: bold;
				text-transform: uppercase;
			}
			a {
				color: $blue;
				&:hover,
				&:focus {
					color: darken($blue, 6%);
				}
			}
		}
	}
	@media #{$media-xs} {
		.col-no-pd {
			padding: 0 15px;
		}
		.col-no-pd-left {
			padding-left: 15px;
		}
		.col-no-pd-right {
			padding-right: 15px;
		}
	}
}

.proposal_id {
	display: block;
	line-height:50px;
}
