.header {
	padding:18px 0;
	background:$header-bg;
	.side-logo {
		margin: 22px 0 19px;
		display: inline-block;
		padding-left: 25px;
		position: relative;
		.logo {
			position: absolute;
			margin-left: -25px;
		}
	}
	.main-logo {
		display: inline-block;
		text-align: center;
	}
	.top_nav_2,
	.top_nav{
		margin: 22px 0 19px;
	}
	.top_nav_2 {
		.dropdown-menu {
		    right: 0;
		    left: auto;
		}
	}
	.top_nav{
		@media #{$media-xs} {
			margin: 12px 0 6px
		}
		li {
			position: relative;
			padding: 0 10px;
			&:first-child::after {
				content:"";
				width: 1px;
				height: 12px;
				background: #616161;
				position: absolute;
				margin-left: 11px;
				margin-top: 6px;
				@media #{$media-xs} {
					display: none;
				}
			}
		}
	}
	object.logo-riteway { 
		width: 200px;
		height:56px;
	 }
}
.navbar-default {
	background: $navbar-bg;
 	min-height:60px;
	border-color: $navbar-border-color;
	border-radius:0;
	border-width:0 0 1px 0;
	@include box-shadow( inset 0 7px 9px -7px $navbar-border-color);
	.navbar-nav {
		> li  {
			margin-right: 50px;
			&:last-child {
				margin-right: 0;
			}
			> a {
				padding-top: 17px;
				padding-bottom: 16px;
				padding-left: 0;
				padding-right: 0;
				color: $nav-text-color;
				font-weight: 700;
				border-bottom:4px solid transparent;
				&:hover,
				&:focus {
					color: $nav-text-color-hover;
					background-color: transparent;
					border-bottom-color: $nav-text-color-hover;
				}
			}
		}
		> .active > a {
			&,
			&:hover,
			&:focus {
				color: $nav-text-color-hover;
				background-color: transparent;
				border-bottom-color: $nav-text-color-hover;
			}
		}
	}
	.navbar-collapse {
		margin-left: -15px;
		margin-right: -15px
	}
}

@media #{$media-sm} {
	.navbar-default {
		.navbar-nav {
			> li  {
				margin-right: 38px;
			}

		}
	}
}

@media #{$media-xs} {
	.navbar-brand {
		padding-top: 17px;
		padding-bottom: 16px;
	}
	.navbar-toggle {
		margin-top: 12px;
		margin-bottom: 12px;
	}
	.navbar-default {
		.navbar-nav {
			> li  {
				margin-right: 0;
				> a {
					padding: 15px;
				}
			}
		}
	}
}