#optionModal {
	.modal-dialog {
		margin-top: 10%;
	}
	.modal-body {
	    padding: 0;
	    background: transparent;
	    .thumbnail {
	    	min-height: 280px;
	    	margin: 0;
	    	padding: 40px 0 0;
	    	background: #fff;
	    	&.blue{
	    		.img-wrap {
	    			background:$blue;
	    		}
	    	}
	    	&.purple{
	    		.img-wrap {
	    			background:$purple;
	    		}
	    	}
	    	&.orange{
	    		.img-wrap {
	    			background:$orange;
	    		}
	    	}
	    	.img-wrap {
	    		width: 100px;
	    		height: 100px;
	    		border-radius:50%;
	    		display: block;
	    		margin: 0 auto;
	    		line-height: 88px;
	    		text-align: center;
	    		padding-top: 19px;
	    	}
	    	.caption {
	    		text-align: center;
	    		padding: 0;
	    		img {
	    			background: transparent;
	    		}
	    		h3 {
		    		font-size: 20px;
		    		font-weight: 700;	
	    		}
	    		a {
	    			display: block;
	    			width: 100%;
	    			padding: 16px 0;
	    			margin-top: 45px;
	    			border-top:1px solid $light-gray;
	    		}
	    	}
	    	@media #{$media-xs} {
	    		margin-bottom: 20px;
	    	}
	    }
	}
	.modal-content {
		box-shadow: none;
		border: none;
		background: transparent;
	}
}

.form-modal{
	.btn{
		margin-top:12px;
	}
	svg#team-icon, svg#list-icon {
	    width: 20px;
	    height: 20px;
	    fill: #2196F3;
	    margin-top: 5px;
	    float: left;
	    margin-right: 12px;
	}
	.modal-lg{
		background-color:blue;
		width: 450px;
		margin: 30px auto;
	}
	@media #{$media-xs} {
		.modal-lg{
			width: 300px;
			margin: 30px auto;
		}
	}
	.modal-body{
		padding:50px 60px 60px !important;
	}
}
.gen-modal {
	.modal-content{
		border-radius:0;
	}
	.modal-body {
	    padding: 30px 50px;
	}
	.modal-header {
		padding: 32px;
	}
	.modal-header .close {
	    font-size: 30px;
	}
	.modal-title {
		position: relative;
		display: inline-block;
		#file-icon {
			width: 16px;
			height: 16px;
			fill: $blue;
			position: absolute;
			margin-top: 6px;
			float: left;
			margin-left: -20px;
		}
	}
	span.icon {
		width: 25px;
		height: 25px;
		float: left;
		background: url('../img/icons-sprite.png') 0 0 no-repeat;
		&.edit { background-position: 0 -29px; }
		&.save { background-position: 0 -56px; }
		&.print { background-position: 0 -83px; }
		&.email { background-position: 0 -110px; }
		&.clone { background-position: -2px -137px; }
		&.invoice { background-position: -2px -166px; }
		&.download { background-position: -2px -190px; }
		&.doc { background-position: -2px -190px; }
		&.present { background-position: 0 0; }
	}
	a.link {
		display: block;
		&:hover,
		&:focus {
			span.icon {
				&.edit { background-position: -30px -29px; }
				&.save { background-position: -30px -56px; }
				&.print { background-position: -30px -83px; }
				&.email { background-position: -30px -110px; }
				&.clone { background-position: -32px -137px; }
				&.invoice { background-position: -33px -166px; }
				&.download { background-position: -32px -190px; }
				&.doc { background-position: -32px -190px; }
			}
		}		
		.icon {
		    position: relative;
		    margin-right: 6px;
		}
	}
	.list-unstyled {
		margin-top: 30px;
		li {
	    	padding: 15px 0;
	    	border-top: 1px solid #ccc;
	    	@media #{$media-xs} {
	    		padding: 10px 0;
	    	}
		}
	}
	.table {
		border: none !important;
		> tbody > tr > th,
		> tbody > tr > td {
			vertical-align: top;
		}
		> tbody > tr > th {
			font-size: 10px;
			font-weight: bold;
			color: $gray;
			text-transform: uppercase;
			padding: 24px 28px;
			@media #{$media-xs} {
				padding: 12px 14px;
			}
		}
		> tbody > tr > td {
			font-size: 14px;
			padding: 20px 25px;
			@media #{$media-xs} {
				padding: 10px 12px;
			}
		}
	}
	.xtra-padding {
		padding-right: 40px;
		@media #{$media-xs} {
			padding-right: 15px;
		}
	}
	.btn-lg {
		padding: 16px;
		span.icon.present {
			position: relative;
			margin-left: 95px;
		}
		span.text {
			position: relative;
			margin-left: -115px;
		}
	}
}

.row.bdr-bottom {
	border-bottom:1px solid $light-gray;
	&:last-child {
		border-bottom:none;
	}
}
.row.is-flex {
	display: flex;
	flex-wrap: wrap;
	border-bottom:1px solid $light-gray;
	&:last-child {
		border-bottom:none;
	}
}
.row.is-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
}
.boxx {
  	background: none;
  	position: static;
  	h3 {
  		margin: 0 0 30px;
  		padding: 0;
  	}
  	.badge {
  		width: 96px;
		height: 25px;
		padding: 0;
		background-size: 100% 100% !important;
		border-radius: 0;
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 10px;
		text-align: left;
		text-indent: 10px;
		position: relative;
		margin: 12px 0 12px -15px;
  		&.platinum {
  			background: url('../img/platinum.png') left top no-repeat;
  		}
  		&.gold {
  			background: url('../img/gold.png') left top no-repeat;
  		}
  		&.silver {
  			background: url('../img/silver.png') left top no-repeat;
  		}
  		&.bronze {
  			background: url('../img/bronze.png') left top no-repeat;
  		}
  	}
}
.bdr-right {
	border-right:1px solid $light-gray;
	@media #{$media-sm} {
		&:nth-child(even) {
			border-right: none;	
		}
	}
}



#addNewPackage,
#addNewSplit {
	#list-icon {
		width: 16px;
		height: 16px;
		fill: $blue;
	}
}