#proposalDetailAltModal {
	margin-left:0;
	padding-left:0;
	background: #F5F5F5;
	@include opacity(1);
	#file-icon {
		width: 16px;
		height: 16px;
		fill: $blue;
		position: relative;
		margin-top: 4px;
		float: left;
		margin-right: 8px;
	}
	.modal-dialog {
		margin: 0 auto 50px;
	}
	.modal-content {
		box-shadow: none;
		border: none;
		border-radius: 0;
		background:none;

		.modal-header {
			border-bottom: none;
		}

		.modal-body {
			padding: 15px 0 0;
			background: transparent;
			border: none;
			border-radius: 0;
		}
	}

	#carousel-proposal-details {
		.item {

			.details {
				padding: 0 0 15px;
				background: #fff;
				border-radius: 4px;
				&.pd0-15-0-15 {
					padding: 0 15px 0 15px !important;
				}

				&.plans {
					.boxx {
						padding-bottom: 20px
					}
				}
				dl {
					margin-bottom: 0;
					dd {
						margin-bottom: 15px;
					}
					.help-block {
						margin: 0;
						font-size: 10px;
						text-transform: uppercase;
						font-weight: 700;
						color: $gray;
					}
				}
				.dl-horizontal {
					dt {
					    width: 100px;
					    text-align: left;
					    color: $gray;
					    text-transform: uppercase;
					    font-size: 10px;
					    line-height: 23px;
					    @media #{$media-sm} {
							width: 75px;
						}
						@media #{$media-xs} {
							float: left;
						}
					}
					dd {
						margin-left: 100px;
						font-size: 14px;
						@media #{$media-sm} {
							margin-left: 75px;
						}
					}
				}
			}
		}
		.pd40 {
			padding: 40px;
			@media #{$media-xs} {
				padding: 20px;
			}
	  	}
	  	.pdb0 {
	  		padding-bottom: 0;
	  		h3 {
	  			margin-bottom: 0;
	  		}
	  	}
		.h3-title {
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			color: $gray;
			margin: 12px 0 20px;
		}
  	.thumbnail {
  		background:none;
  		border:none;
  		border-radius:0;
  		padding:0;
  		margin:0;

  		.caption {
  			padding:10px 0;

  			.title {
  				margin: 10px 0;
  				font-weight: 700;
  				color: #000;
  				font-size: 20px;
  			}

  			.list-unstyled {
  				margin: 0;

  				li {
  					padding-left: 18px;
  					margin-bottom: 7px;
  					object.icon {
  						position: absolute;
						margin-top: 8px;
						margin-left: -18px;
  					}
  				}
  			}
  			a.link {
  				font-size: 16px;
					padding-top: 12px;
					display: block;
					color: $blue;
  			}
  			.table {
  				border: none;
  				padding: 0;
  				margin: 0;
  				> tbody > tr > td, 
  				> tfoot > tr > td {
				    padding: 0 0 10px;
				    font-size:11px;
				    letter-spacing: 1px;
				    font-weight: 700;
				    text-transform: uppercase;
				    color: $gray;
				    vertical-align: middle;

				    &:last-child {
				    	text-align: right;
				    }

						.input-wrapper {
							position: relative;

				    	&::before {
						    content: "(-)";
						    position: absolute;
								left: 4px;
						    top: 14px;
						    font-size: 14px;
						    z-index: 1;
				    	}
						}

				    input {
							padding-left: 25px;
				    }
					}
					> tfoot > tr > td {
						padding-top: 25px;
						border: none;
					}
  			}
  		}
  	}
	}
	.carousel-control {
		width: 90px;
		height: 50px;
		background: $blue;
		@include opacity(1);
		line-height: 50px;
		svg {
			fill: #fff;
			width: 18px;
		}
		&.left {
			top: 110px;
			border-radius: 0 6px 6px 0; 
			text-align: right;
			padding-right: 20px;
  			svg {
  				@include rotate(180deg);
  			}
  		}
  		&.right {
			top: 110px;
			border-radius: 6px 0 0 6px;
			text-align: left;
			padding-left: 20px;
		}
		@media #{$media-xs} {
			width: 30px;
			height: 30px;
			line-height: 25px;
			svg {
				width: 12px;
			}
			&.left,	&.right {
				top: 71px;
				text-align: center;
				padding: 0;
  		}
		}
		@media #{$media-sm} {
			width: 75px;
		}
		@media #{$media-md} {
			width: 50px;
		}
	}

	#commission_block {
		page-break-before: always;
	}

	.preso-notes {
		padding-top: 15px;

		label {
			margin-top: 10px;
			margin-bottom: 20px;
		}
		input {
			margin-bottom: 20px;
		}
	}
}


.thumb-wrapper {
	height:200px;
	img{
		display: block;
	    max-width: 193px;
	    height: auto;
	    max-height:190px;
	    margin-left: auto;
	    margin-right: auto;
	}
}


// Proposal printout
@media only screen {
	.show-print {
		display: none !important;
	}
}

@media only print {

	// Remove the print margins to take out unwanted header and footer
	@page 
	{
	    size:  auto;   /* auto is the initial value */
	    margin: .3cm 1mm .5cm;  /* this affects the margin in the printer settings */
	}

	#app .header, .page_content, .carousel-control, .close, .hide-print, .footer, .btn, .system-components {
		display: none !important;
	}

	body {
		margin-bottom: 0 !important;
	}

	#proposalDetailModal {
		display: none !important;
	}

	#proposalDetailAltModal {
		padding-top: .1in;
		padding-left: 0 !important;
		padding-right: 0 !important;
		position:relative;
		
		//**
		//
		//Comment out to enable print emulation in Chrome
		//
		position: static;
		//**

		.no-print{
			display:none;
		}

		.bdr-right {
			border-right: none !important;
		}

	    .thumb-wrapper {
		    height: auto;
		    padding: 10px 0;
		    float: left;
		    display: inline-block;
		    width: 40%;

			img {
				max-width: 50% !important;
			    margin-left: 0;
			}
	    }

	    #print_block {
	        width: 8in !important;
	    }

	    .modal-content  {
	    	clear: both;

	    	.modal-header {
				padding: 10px 0 !important;
	        	margin-left: 0px !important;
	        	margin-right: 0px !important;
			}
	    }
		

		// Turn content layout into box grid

		#carousel-proposal-details {

			.pd40 {
				padding: 20px !important;
			}

			.box_border {
				border-color: #BCBEC0
			}

			.item .details.plans.pd0-15-0-15 {
				padding: 0 !important;
			}

			.carousel-inner {

				> .item {

					display: none;

					&:nth-of-type(1), &:nth-of-type(2) {
						display: block !important;
						clear: both;
					}

					.row {
						margin: 0 !important;
					}

					div[class^="col"] {
						padding: 0;
					}
				}

				&:first-of-type, &:nth-child(2) {
					display: block;
				}

				.item:nth-of-type(1) {
					page-break-after: always;

				    .details {
				    	padding-top: 0 !important;
				    	padding-bottom: 0 !important;
				    	border: 1px solid #BCBEC0 !important;
				    	display: grid;
				    	grid-template-columns: repeat(12, 8.333%);
				    	grid-template-rows: minmax(min-content, 1fr);



						> div:first-child {
							border: none !important;
							flex-direction: column;
							grid-column: 1 / 6;
							grid-row: 1 / 2;


							div:first-child .boxx {
								border-bottom: 1px solid #BCBEC0 !important;
							}

							.boxx {
								border-right: 1px solid #BCBEC0 !important;
								padding: 20px 20px 10px !important;
			
								dl {
									margin: 0;
								}

								dt {
									text-align: left;
									font-weight: normal;
									text-transform: uppercase;
									font-size: 6pt;
									margin-bottom: 5px;
									width: 75px;
									line-height: 11pt;
									display: inline-block !important;
									float: none;
								}

								dd {
									font-size: 8pt;
									margin-bottom: 5px;
									line-height: 11pt;
									display: inline-block;
								    margin-left: 0;
								    vertical-align: top;
								    width: calc(100% - 90px);
								    display: inline-block !important;

									&:last-child {
										margin-bottom: 0;
									}
								}
							}
						}

						> div:nth-of-type(2) {
							grid-column: 6 / 13;
							grid-row: 1 / 2;
							border-left: 1px solid #BCBEC0;
							margin-left: -1px !important;

							.boxx {
								h3 {
									font-size: 9pt;
									font-weight: bold;
									text-transform: uppercase;
								}

								p {
									font-size: 8pt;
									line-height: 14pt;
								}
							}
						}

						> div:not(.is-flex) {
							grid-column: span 3;
							grid-row: 2 / 3;
							display: flex;
							flex-direction: column;
							float: left;
							border-top: 1px solid #BCBEC0;
							padding-top: 20px;
							padding-bottom: 20px;
							border-bottom: none;
							border-right: 1px solid #BCBEC0;

							&:last-child {
								border-right: none;
							}

							h3 {
								font-size: 9pt;
								font-weight: bold;
								text-transform: uppercase;
								margin-bottom: 20px !important;
							}

							dl {
								margin-bottom: 0;
							}

							dt {
								font-size: 6pt;
								line-height: 11pt;
								text-transform: uppercase;
								font-weight: normal;
								border-top: 1px solid #BCBEC0;
								padding-top: 5px;
								color: black;
							}

							dd {
								font-size: 8pt;
								line-height: 11pt;
								padding-bottom: 5px;
								margin-bottom: 0;
							}

							> div[class^="col"] {
								width: 100% !important;
							}

							.boxx {
								padding: 0 20px !important;
							}
						}
				    }
				}

				.item:nth-of-type(2) {
					.plans {

						select, .input-wrapper, .input-wrapper::before {
							display: none !important;
						}

						.h3-title {
							display: none;
						}

						div[class^="col"] {
							padding: 0;
							margin: 0;
						}

						.boxx {
							padding-bottom: 5px;
						}

						header {
							width: 100%;
							display: flex;
							justify-content: flex-end;
							margin-bottom: 5px;

							font-size: 9pt;

							div {
								font-size: 6pt;
								margin-left: 20px;

								span {
									font-size: 6pt;
									font-weight: bold;
								}

								&:first-child {
									font-size: 9pt;
									font-weight: bold;
									margin-right: auto;
									margin-left: 0;
								}

								br {
									display: none;
								}
							}
						}

						.badge {
							margin: 0;
							font-size: 10pt;
							font-weight: bold;
							color: white !important;
	    					display: block !important;
						    width: 100% !important;

							&.platinum {
								/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e9295+0,42506a+100 */
								background: #8e9295; /* Old browsers */
								background: -moz-linear-gradient(left, #8e9295 0%, #42506a 100%); /* FF3.6-15 */
								background: -webkit-linear-gradient(left, #8e9295 0%,#42506a 100%); /* Chrome10-25,Safari5.1-6 */
								background: linear-gradient(to right, #8e9295 0%,#42506a 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e9295', endColorstr='#42506a',GradientType=1 ); /* IE6-9 */
							}

							&.gold {
								/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1be2e+0,c09230+100 */
								background: #e1be2e; /* Old browsers */
								background: -moz-linear-gradient(left, #e1be2e 0%, #c09230 100%); /* FF3.6-15 */
								background: -webkit-linear-gradient(left, #e1be2e 0%,#c09230 100%); /* Chrome10-25,Safari5.1-6 */
								background: linear-gradient(to right, #e1be2e 0%,#c09230 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1be2e', endColorstr='#c09230',GradientType=1 ); /* IE6-9 */
							}

							&.silver {
								/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c899e+0,d6d1ce+100 */
								background: #8c899e; /* Old browsers */
								background: -moz-linear-gradient(left, #8c899e 0%, #d6d1ce 100%); /* FF3.6-15 */
								background: -webkit-linear-gradient(left, #8c899e 0%,#d6d1ce 100%); /* Chrome10-25,Safari5.1-6 */
								background: linear-gradient(to right, #8c899e 0%,#d6d1ce 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c899e', endColorstr='#d6d1ce',GradientType=1 ); /* IE6-9 */
							}

							&.bronze {
								/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c1518+0,764c34+100 */
								background: #3c1518; /* Old browsers */
								background: -moz-linear-gradient(left, #3c1518 0%, #764c34 100%); /* FF3.6-15 */
								background: -webkit-linear-gradient(left, #3c1518 0%,#764c34 100%); /* Chrome10-25,Safari5.1-6 */
								background: linear-gradient(to right, #3c1518 0%,#764c34 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c1518', endColorstr='#764c34',GradientType=1 ); /* IE6-9 */
							}
						}

						.logo {
						    display: none;
						}

						.title {
							font-size: 9pt !important;
							line-height: 12pt;
							margin-top: 0 !important;
						}

						.thumbnail {
							padding-left: 20px !important;
							padding-right: 20px !important;

							hr {
								display: none !important;
							}

							td {
								font-weight: normal !important;
								font-size: 6pt !important;
								line-height: 12pt !important;
								text-transform: uppercase !important;

								&:nth-child(2) {
									font-size: 8pt !important;
									text-align: right !important;
								}
							}

							.caption {
								> label {
									display: none;
								}

								td {
									padding: 0 !important;
									margin-bottom: 10px;
								}


								.highlight-table {
									td {
										padding: 5px !important;
										background: #D2EDF3 !important;
									}
								}

								.bullets {
									padding-bottom: 10px;
									border-bottom: 1px solid #BCBEC0;
									margin-bottom: 10px !important;
									min-height: 2.5in;
									height: auto !important; // needs to override jQuery height setting when the carousel slide change is used
								}

								.rebate-table {
									.input-value {
										position: relative;
										right: 1.03cm;
									}

								}

								.table {
									border: 0 !important;
								}
							}
						}

						.list-unstyled {
							border-top: none;
							li {
								padding: 0;
								padding-left: 0 !important;
								font-size: 7pt;
								line-height: 10pt;
								margin-bottom: 2pt;
							}
						}
					}

					.approval {
						display: flex;
						justify-content: space-between;
						page-break-inside: avoid;

						.sign-line {
							width: 48%;
							position: relative;
							display: flex;
							justify-content: space-between;
							height:30px;
							padding-bottom:5px;
							margin-top: .3in !important;
							border-top: 1px solid black;


							label {
								font-size: 6pt !important;
								text-transform: uppercase;
								font-weight: normal;
							}
						}
					}

					.highlight-box {
						margin-left: -10px;
						margin-right: -10px;
						padding-top: 10px;
						padding-bottom: 10px;
						background-color: #D2EDF3 !important;
						padding: 10px 20%;
					    font-size: 6pt;
					    text-align: center;

					    span {
					    	display: block;
							text-transform: uppercase;
							font-size: 6pt;

					    	strong {
								font-size: 9pt;
								font-weight: bold;
					    	}
					    }
					}

					.disclaimer {
						padding-top: 0;
						font-size: 5pt;
						line-height: 5pt;
					}

					.payment_form {
						padding: 0 !important;

						.form-control {
							display: none;
						}

						.payment_content {

							> div {
								width: auto !important;
								margin-bottom: 0 !important;

								div {
									margin-bottom: 0;
								}
							}

							label {
								font-size: 6pt;
								line-height: 12pt;
								text-transform: uppercase;
								width: 1.5in;
								font-weight: normal;
								margin-bottom: 0;
							}

							span {
								font-size: 8pt;
								line-height: 12pt;
								display: inline-block;
								width: 1.5in;
							}
						}
					}
				}
			}
		}

	    .initial-here {
	    	float: right;
			padding-top: 30px;
			margin-right: 0;

	    	span {
				width: 50px; 
				border-bottom: 1px solid black;
				display: inline-block;
    			margin-left: 10px;
	    	}
	    }

	    *{transition:none!important}

	    .initial-here {
	    	font-size: 10pt;
	    	text-align: right;
	    }

		.print-only {
			display: initial;
		}

		// create bootstrap-like classes for print view
		@for $i from 1 through 12 {
		    .col-print-#{$i} {
		        width: #{percentage(round($i*8.33)/100)} !important;
		        float: left;
		    }
		}

		.modal-title {
	        padding-left: 0 !important;
	        padding-right: 0 !important;

		    display: flex;
		    justify-content: flex-end;
		    text-align: right;
		    width: 100%;

	        br {
	        	display: none !important;
	        }

			.divide {
				border-right: 0 !important;
			}

			> div:first-child {
				padding-left: 0 !important;
			    align-self: center;
			    justify-self: flex-start;
			    text-align: left;
			    flex-grow: 1;
			    width: 2in !important;
			}

			> div:not(:first-child) {
				font-size: 6pt;
				text-transform: uppercase;
				color: black;
			    width: auto !important;
			    padding: 0 0 0 15px;
			
				span {
					font-family: $font-family-sans-serif;
					font-weight: bold;
					font-size: 9pt;
					margin: 0 !important;
				}
		    }

		    > div:last-child {
		    	position: absolute;
		    	top: .5in;
		    	right: 0;
		    }

			img {
				position: relative;
				top: 10px;
				margin-left: 0 !important;
			}
		}

		body {
			overflow-y: visible !important;
		}
		.proposals {display: none;}
		.modal {display: none;}
		.modal.in {display: block; position: relative;}
		.modal.in .item {display: block !important;}
		div[class^="col"] { position: relative;	}
		
		.footer {display: none;}
	}
}