.table {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: $table-cell-padding;
			}
		}
	}
	> thead > tr > th {
		border-bottom-width:1px !important;
	    font-size: $th-font-size;
	    font-weight: 700;
	    color: $th-color;
	    text-transform: uppercase;
  	}
 	> tbody > tr > th,
  	> tbody > tr > td {
		font-size: $td-font-size;
		color: $td-color;
		border: none;
		&:first-child {
			padding-left: 30px;
			object.icon {
				position: absolute;
				margin-top: 4px;
				margin-left: -20px;
			}
		}
	}

	&.table-dt {
	  	> tr > td {
			font-size: $td-font-size;
			color: $td-color;
			border: none;
			padding: $table-cell-padding;
			border-top:1px solid $light-gray;
			border-bottom:1px solid $light-gray;
			&:first-child {
				border-top:none;
			}
			&:last-child {
				border-top:none;
			}
		}
	}

	span.status {
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		&.red{
			color: $td-status-red;
		}
		&.yellow{
			color: $td-status-yellow;
		}
		&.default{
			color: $td-status-default;
		}
		&.green{
			color: $td-status-green;
		}
	}
	span.team-member {
		display: block;
		width: 20px;
		height: 20px;
		border-radius:50%;
		background:#9E9E9E;
		text-transform: uppercase;
		text-align: center;
		line-height: 20px;
		color:#fff;
		font-size: 10px;
		font-weight: 700;
	}
}


table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child, 
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {
    padding-left: 50px;
}
.table-striped:not(.not-hover){
  	> tbody > tr:hover {
		background-color:#d0d0d0;
		cursor:pointer;
	}
}