.team-members {
	.thumbnail {
		border-radius: 0;
		border:none;
		padding: 20px 0;
		text-align: center;
		.img-wrapper {
			img {
				border-radius: 50%;
			}
			span {
				font-size: 25px;
				width: 50px;
				height: 50px;
				background: #9E9E9E;
				display: block;
				color: #fff;
				text-transform: uppercase;
				border-radius: 50%;
				line-height: 45px;
				margin: 0 auto;
			}
		}
		.caption {
			padding: 0;
			h3 {
				font-size: 14px;
				font-weight: bold;
				color: $blue;
				text-transform: capitalize;
				margin-bottom: 6px;
			}
			p.help-block {
				text-transform: uppercase;
				font-size: 10px;
				font-weight: bold;
				color: $gray;
				margin: 0;
				letter-spacing: 1px;
			}
		}
	}
}

@media #{$media-xxs} {
	.team-members {
		[class*="col-xs-"] {
			width: 100%;
		}
	}
}