.worksheets{
	.thumbnail {
		min-height: 350px;
		margin: 0;
		padding: 40px 0 0;
		background: #fff;
		&.blue{
			.img-wrap {
				background:$blue;
			}
		}
		&.purple{
			.img-wrap {
				background:$purple;
			}
		}
		&.orange{
			.img-wrap {
				background:$orange;
			}
		}
		.img-wrap {
			width: 100px;
			height: 100px;
			border-radius:50%;
			display: block;
			margin: 0 auto 20px;
			line-height: 88px;
			text-align: center;
			padding-top: 19px;			
		}
		.caption {
			text-align: center;
			padding: 0;
			hr {
				margin-top: 35px;
				margin-bottom: 30px;
			}
			img {
				background: transparent;
			}
			h3 {
				margin: 0;
				padding: 0;
	    		font-size: 20px;
	    		font-weight: 700;	
			}
			.list-unstyled {
				margin-bottom: 0;
				li {
					&:first-child {
						margin-bottom: 12px;
					}
				}
			}
			.btn {
				line-height: 30px;
				min-width: 170px;
				padding-top: 0;
				padding-bottom: 0;

				&-link {
					font-weight: 700;
					color: $blue;
					&:hover,
					&:focus {
						color: darken($blue, 10%);
					}
				}
			}
		}
		@media #{$media-xs} {
			margin-bottom: 20px;
		}
	}
}
